// Here you can add other styles
:root {
    --primary-color:        #222d3b;
    --secondary-color:      #1d2531;
    --third-color:          #d8dee4;
    --background-color:     #f2f7fb;
    --error--color:         #e45161;
    --error--background:    #f86c6b;
    --success--color:       #6bc781;
    --success--background:  #4dbd74;
  }


  
/*==== ALERTS ====*/
.toast {
    align-items: flex-start;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    padding: 16px;
    opacity: 1!important;
  }
  
  .toast--error {
    background: var(--error--background)!important;
  }
  
  .toast--success {
    background: var(--success--background)!important
  }
  
  .toast:not(:last-child) {
    margin: 0 0 12px;
  }
  
  .toast__content {
    flex: 1 1 auto;
    margin: 0 12px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .toast__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
    padding: 0;
  }
  
  .toasts {
    bottom: 24px;
    position: fixed;
    right: 24px;
    width: 240px;
    z-index: 99999;
  }
  
  /*==== END ALERTS ====*/


.text--error {
  color: var(--error--color)!important;
}

.text--success {
  color: var(--success--color)!important;
}


/* ==== PROFILE ====*/

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.btn-center {
  display: flex;
  justify-content: center;
}

  /*Card Image - General */
.img--default {
  margin: 10px;
  max-height: 220px;
  width: auto!important;
}
  
.img--validation--success {
border: 6px solid var(--success--background)!important;
}

.img--validation--error {
border: 6px solid var(--error--background)!important;
}

/* ==== END PROFILE ====*/


/* === SIDEBAR  === */
.sidebar {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.65);
  background-image: url(http://miriadna.com/desctopwalls/images/max/Rain-drops-on-the-branches.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* === END SIDEBAR  === */